.retu {
    width: 1500px; 
    height: 800px;
    display: flex;
    flex-direction: row;
    border: 10px blue;
    /* width: 50%; /* リキッド */
    /* max-width: 2000px; /* 幅の上限 
    min-width: 1500px; */ 
}

header {
    width: 120px;
    position: fixed;
    height: 850px;
    background-color: aqua;
}

.buruburu {
    display: inline-block;
    animation: hurueru .1s  infinite;
}

@keyframes hurueru {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(5px, 5px) rotateZ(10deg)}
    50% {transform: translate(0px, 8px) rotateZ(0deg)}
    75% {transform: translate(5px, 0px) rotateZ(-10deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}

.index {
    width: 120px;
    display: flex;
    flex-direction: column;

}

.i {
    padding-top: 21px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.s {
    display: grid;
    grid-template-columns: 170px 124px;
    justify-content: space-between;
}

main {
    width: 300px; 
    display: flex;
    margin-left: 120px;
    flex-direction: column;
    background-color: blanchedalmond;
    /* resize: horizontal; */
    /* width: 90%; リキッド */
    /* max-width: 500px; 幅の上限 */
    /* min-width: 300px; 幅の下限 */
   

}

sub {
    width: 300px;
}

.scroll1 {
    height: 650px;
    width: 190px;
    overflow: auto;
    padding: 0;
    margin-left: 5px;
}

.scroll2 {
    height: 650px;
    width: 100px;
    overflow: auto;
    padding: 0;
    margin-right: 5px;
}


tr {
    background-color: rgba(245, 245, 220, 0.884);
    display: block;
    margin-bottom: 5px;
    }

.t2 tr{
    width: 100px;
}

.scroll1::-webkit-scrollbar {
    display: none;
}

.scroll2::-webkit-scrollbar {
    display: none;
}

.sub2 {

    width: 300px;
    height: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.colona {
    height: 140px;
    background-color: antiquewhite;
}



footer {
    background-color: rgb(194, 194, 252);
    width: 120px;
}

.sita {
    background-color: beige;
    height: 200px;
    width: 730px;
    margin-left: 120px;
}